
#chat__toggle {
    opacity: 0;
  }
.chat__btn {
   /*  display: flex; используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    z-index: 2; 
  }
  .chatbox 
  {
    display: flex;
    position: fixed;
    height: 30vw;
    width: 20vw;
    background-color: #555;
    border-radius: 5%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    bottom: 0;
    right: 0.5%;
    visibility: hidden;
  }
  .chatico
  {
    bottom: 25.5vw;
    margin-left:1% ;
    right: 0.9%;
    width: 3.5vw;
    height: 3.5vw;
    animation: chatbuttonanim 0.26s linear 0s 1 normal none;
  }
   /* добавляем "гамбургер" */
   .chat__btn {
     display: block;
     position: fixed;
     width: 7vw;
     height: 7vw;
     background-image: url(chat1.png);
     background-size: cover; 
   }
   #chat__toggle:checked ~ .chatbox {
    visibility: visible;
    animation: chatanim 0.25s linear 0s 1 normal none;
    }
    @keyframes chatanim
    { 
  0%{    height: 0vw;
  }
  100%{    height: 30vw;}
    }
   #chat__toggle:checked ~ .chat__btn {
    background-image: url(crossicon.png);
    bottom: 26.5vw;
    right: 0.9%;
    width: 2.5vw;
    height: 2.5vw;
    animation: chatbuttonanim 0.26s linear 0s 1 normal none;
  }
  @keyframes chatbuttonanim
  { 
0%{        width: 0;
  height: 0;
}
100%{      width: 0;
  height: 0;}
  }
  .chatcont
  {
    position: absolute;
    height: 87%;
    width: 98%;
    left: 50%;
    top: 56%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
  }

  .userinput
  {
    position: absolute;
    height: 5vw;
    /*width: 30vw;
    width: 100%;
    bottom: 1%;
    right: 0.5%;*/
    width: 100%;
    bottom:0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
  }
