p.speech {
	position: absolute;
	/* width: 100px; */
	width: -moz-fit-content;
    width: fit-content;
	height: fit-content;
	text-align: left;
	line-height: 50px;
	background-image: linear-gradient(to right, red , yellow);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
	border: 0px solid #666;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
    font-weight: bolder;
	margin-right: 30%;
	word-wrap: break-word;
}
.cloudbr
{
	height: 5%;
}
.userspeech
{
    right: 0;
	margin-left: 30%;
    margin-right: 5px;
    /* top: 100px;  */
    margin-top: auto;
    padding-left: 10px;
    padding-right: 10px;
	position: absolute;
	/* width: 100px; */
	width: -moz-fit-content;
    width: fit-content;
	height: fit-content;
	text-align: left;
	line-height: 50px;
	background-image: linear-gradient(to right, red , yellow);
	border: 0px solid #666;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
    font-weight: bolder;
}
@keyframes chatanimcloud
{ 
0%{    height: 0vw;
}
100%{    height: 30vw;}
}